@import 'normalize';

/**
 * 将浏览器的基准字号设置为 10px
 */

html {
  font-size: 1.0em;
}


/**
 * 将浏览器body字号设置为 16px
 */

body {
  font-size: 1.6rem;
  /* =16px */
}


/**
 * 将所有元素的盒模型设置为 border-box
 */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
